<div class="booyah-box col-sm-12 col-md-10 col-md-offset-1">
	<br/>
	<p>
		This is a simple site that uses the GiantBomb API to return a random game. Currently, all it does is return any random game in the database. Eventually, filters and other fun stuff might be added! For now, refresh the page a few times and click on all the ridiculous sounding videogames you can't believe are real things (I haven't heard of 90% of these random ass games I'm seeing, personally!).
		<br/>
		<br/>
		When you're bored of that, feel free to check out my <a href="http://shaunshapiro.com">personal site here</a>! This project was made mostly as a way to intersect my studying of Rails with JQuery requests and, of course, my love of videogames, absurd as most of them may be. 
	</p>


</div>