<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
	
	$(function() {
		getRandomGame();
	});

</script>

<br /> 
<br />
<br />
<br />

<div class="booyah-box col-xs-4 col-xs-offset-4 text-center">
	<h1>How about...</h1>
	<h2>-</h2>
	


</div>