<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>	
	$(function() {
		getRandomGame();
	});
</script>

<br /> 

<div class="booyah-box col-xs-12 col-md-4 col-md-offset-4 text-center">
	<h1>How about...</h1>
	<br/>
	<h2>-</h2>
</div>